.nav {
  grid-area: n;
  /*background-color: cyan;*/
  background-color: green;
  margin: 5px 5px 10px 10px;
  padding: 20px;
}

.item {
  list-style-type: none;
  padding: 0 5px;
  font-size: 35px;
}

li:hover {
  background: #786b59;
}

.item a,
.itemFriends a {
  color: white;
  text-decoration: none;
  text-shadow: black 0 0 4px;
  /*убирает подчёркивание*/
}

.item a.activeLink,
.itemFriends a.activeLink {
  color: gold;
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.itemFriends {
  display: flex;
  width: 176px;
  height: 58px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0 5px;
  font-size: 35px;
}

.itemFriends a img {
  margin: 0 4px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.itemFriends a img:hover {
  border: 4px double gold;
  margin: 0;
  width: 70px;
  height: 70px;
  border-radius: 40px;
}